:root {
  --error-color: #FF0000;
  --table-header: rgb(231, 231, 231);
  --table-padding: 20px;
}

.form-error-message {
  color: var(--error-color);
}

.films-table-container {
  padding: var(--table-padding);
}

.films-table-container th {
  cursor: pointer;
}

.films-table-container th:hover {
  background-color: var(--table-header);
}