:host {
  display: block;
  --film-row-hover-shadow: inset 0px 0px 0px 1px #3f3f3f;
}

.films-table__row:hover {
  box-shadow: var(--film-row-hover-shadow);
  -webkit-box-shadow: var(--film-row-hover-shadow);
  -moz-box-shadow: var(--film-row-hover-shadow);
}
