.header {
  text-align: center;
}

.film-creation-container {
  display: flex;
  flex-direction: column;
}

.film-creation__form {
  width: 50%;
  justify-self: center;
  align-self: center;
}

.producers-container {
  display: flex;
  flex-direction: column;
}

.producers-btns-container {
  align-self: center;
}
