<nav>
  <mat-toolbar color="primary">
    <a routerLink="/" class="navbar__link"><div>SW Films</div></a>
    <span class="navbar__spacer"></span>
    <div *ngIf="isSignedIn$ | async; else loginRegisterLinks">
      <button type="button" mat-stroked-button (click)="signOut()">
        Logout
      </button>
    </div>
  </mat-toolbar>
</nav>

<ng-template #loginRegisterLinks>
  <span>
    <a mat-stroked-button routerLink="/login" class="navbar__link navbar__item"
      ><div>Login</div></a
    >
  </span>
  <span>
    <a
      mat-stroked-button
      routerLink="/register"
      class="navbar__link navbar__item"
      >Register</a
    >
  </span>
</ng-template>
