<form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="authForm">
  <h1 class="login-form__header">{{ formHeader }}</h1>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>
  <div *ngIf="error$ | async">
    <p>{{ error$ | async }}</p>
  </div>
  <button mat-button type="submit" [disabled]="!authForm.valid">Submit</button>
</form>
