<div *ngIf="this.film$ | async as film">
  <h2>{{ film.title }}</h2>
  <p>{{ film.openingCrawl }}</p>
  <h3>Director: {{ film.director }}</h3>
  <h3>Producers: {{ film.producers }}</h3>
  <h3>Release date: {{ film.releaseDate | date: "dd.MM.yyyy" }}</h3>
</div>

<h2>Characters</h2>
<mat-accordion multi="true">
  <mat-expansion-panel
    hideToggle
    *ngFor="let character of this.characters$ | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ character.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p>Birth year: {{ character.birthYear }}</p>
      <p>Gender: {{ character.gender }}</p>
      <p>Eye color: {{ character.eyeColor }}</p>
      <p>Hair color: {{ character.hairColor }}</p>
      <p>Height: {{ character.height }}</p>
      <p>Mass: {{ character.mass }}</p>
      <p>Skin color: {{ character.skinColor }}</p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<h2>Planets</h2>
<mat-accordion multi="true">
  <mat-expansion-panel hideToggle *ngFor="let planet of this.planets$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ planet.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p>Diameter: {{ planet.diameter }}</p>
      <p>Climate: {{ planet.climate }}</p>
      <p>Gravity: {{ planet.gravity }}</p>
      <p>Orbital period: {{ planet.orbitalPeriod }}</p>
      <p>Population: {{ planet.population }}</p>
      <p>Rotation period: {{ planet.rotationPeriod }}</p>
      <p>Surface water: {{ planet.surfaceWater }}</p>
      <p>Terrain: {{ planet.terrain }}</p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
